.appbar {
  display: flex;
  max-height: 46px;
  background-color: #007079 !important;
  position: relative !important;
  box-shadow: none !important;

  .menu_button {
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .title_text {
    flex-grow: 9;
    margin-bottom: 20px;
  }

  .login_button {
    flex-grow: 2;
    align-self: center;
    margin-bottom: 20px;
  }
}
