.appbar {
  width: 100%;
  display: flex;
  flex-grow: 12;
  flex-direction: row;
  max-height: 44px;
  background-color: #007079 !important;
  position: relative !important;

  .menu_button {
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .title_text {
    flex-grow: 9;
    margin-bottom: 20px;
  }

  .login_button {
    flex-grow: 2;
    align-self: center;
    margin-bottom: 20px;
  }
}

.view_icon {
  padding: 5px 4px 0px 5px;
}

.line {
  width: 1px;
  height: 28px;
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  top: 0px;
  margin-left: 50px;
}
