.project_list {
  .recent_projects_text {
    font-weight: bold;
    font-size: 16px;
    color: #007079;
  }

  .project_list_labels {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin: -10px 0px 0px 0px;
    border-bottom: 1px solid #007079;

    p {
      margin: 0px;
    }

    .project_name {
      width: auto;
      position: relative;
    }

    .project_owner {
      width: auto;
      position: relative;
      left: 65px;
    }

    .last_edited {
      width: auto;
      position: relative;
      left: 242px;
    }
  }

  .selected_project {
    border: 1px solid #007079;
  }
}
