.searchbar_container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #007079;

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  input[type="text"] {
    width: 95%;
    height: 28px;
    font-size: 16px;
    padding: 2px 8px;
    border: 0px;
  }

  input[type="text"]::placeholder {
    color: #444444;
    font-style: italic;
    opacity: 0.5;
  }
}
