.arrow_icon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

.back_icon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
  cursor: pointer;
}

.search_icon {
  width: 24px;
  height: 24px;
}
