.react-flow__edge-RelationEdgeType {
  &.selected {
    .has-location-function {
      visibility: hidden;

      &--dashed {
        stroke: black !important;
        opacity: 1 !important;
      }
    }

    .has-location-product {
      visibility: hidden;

      &--dashed {
        stroke: black !important;
        opacity: 1 !important;
      }
    }

    .fulfilled-by-function {
      visibility: hidden;

      &--dashed {
        stroke: black !important;
        opacity: 1 !important;
      }
    }

    .fulfilled-by-product {
      visibility: hidden;

      &--dashed {
        stroke: black !important;
        opacity: 1 !important;
      }
    }
  }
}

.has-location-function {
  stroke-dasharray: 4.5 !important;
  stroke: #a300a7 !important;
  fill: none !important;

  &--dashed {
    stroke: #fa00ff !important;
    opacity: 0.1 !important;
    fill: none !important;
  }
}

.has-location-product {
  stroke-dasharray: 6.5 !important;
  stroke: #fa00ff !important;
  fill: none !important;

  &--dashed {
    stroke: #00f0ff !important;
    opacity: 0.5 !important;
    fill: none !important;
  }
}

.fulfilled-by-function {
  stroke-dasharray: 4.5 !important;
  stroke: #069098 !important;
  fill: none !important;

  &--dashed {
    stroke: #069098 !important;
    opacity: 0.1 !important;
    fill: none !important;
  }
}

.fulfilled-by-product {
  stroke-dasharray: 6.5 !important;
  stroke: #00f0ff !important;
  fill: none !important;

  &--dashed {
    stroke: #fef445 !important;
    opacity: 0.5 !important;
    fill: none !important;
  }
}
