.project_list {
  .recent_projects_text {
    font-weight: bold;
    font-size: 16px;
    color: #007079;
  }

  .project_list_labels {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin: -10px 0px 0px 0px;
    border-bottom: 1px solid #007079;

    p {
      margin: 0px;
    }

    .project_name {
      width: auto;
      position: relative;
    }

    .project_owner {
      width: auto;
      position: relative;
      left: 65px;
    }

    .last_edited {
      width: auto;
      position: relative;
      left: 194px;
    }
  }

  .project_list_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-direction: row;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;

    p {
      margin: 0px;
      white-space: nowrap;
    }

    .project_name_data {
      padding-left: 3px;
      width: 35%;
    }

    .project_owner_data {
      width: 52%;
    }

    .last_edited {
      width: 22%;
      text-align: left;
      white-space: pre-wrap;
      padding-right: 13px;
    }
  }

  .selected_project {
    border: 1px solid #007079;
  }
}

.project_list_data:nth-of-type(even) {
  background: rgba(0, 112, 121, 0.15);
}

.project_list_data:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.15);
}
