.aspect_container {
  padding-bottom: 20px;

  .aspect_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .aspectIcon {
      flex: 0.5;
      width: 20px;
      height: 20px;
      padding: 0px 3px 1px 5px;
    }

    .checkbox_container {
      padding-top: 14px;
      flex: 2;
    }

    .placeholder_container {
      flex: 2;
      p {
        display: none;
      }
    }

    .expandIcon {
      flex: 1;
      width: 13px;
      height: 13px;
    }
  }

  .function_header {
    background-color: rgba(254, 244, 69, 0.15);
  }

  .location_header {
    background-color: rgba(250, 0, 255, 0.15);
  }

  .product_header {
    background-color: rgba(0, 240, 255, 0.15);
  }
}
