.aspect_container {
  display: flex;
  flex-direction: column;

  .aspect_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -10px;
    margin-top: 10px;

    .aspectIcon {
      width: 18px;
      height: 18px;
      padding: 5px 5px;
      margin-bottom: 11px;
      margin-right: 10px;
    }
  }

  .facets_container {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
}
