.aspect_container {
  padding-bottom: 30px;

  .aspect_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .aspectIcon {
      flex: 0.5;
      width: 25px;
      height: 25px;
      padding: 0px 10px 1px 5px;
    }

    .checkbox_container {
      padding-top: 7px;
      flex: 2;
    }

    .placeholder_container {
      flex: 2;
      p {
        display: none;
      }
    }

    .expandIcon {
      flex: 1;
      width: 13px;
      height: 13px;
    }
  }

  .function_header {
    background-color: rgba(254, 244, 69, 0.15);
  }

  .location_header {
    background-color: rgba(250, 0, 255, 0.15);
  }

  .product_header {
    background-color: rgba(0, 240, 255, 0.15);
  }

  .facets_container {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
  }
}
