.checkbox {
  display: flex;
  position: relative;
  padding: 0px 0px 0px 29px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkbox_label {
    padding-top: 1.5px;
  }

  .checkbox_label::first-letter {
    text-transform: uppercase;
  }
}

.function_underline {
  border-bottom: 2px solid #fef445;
}

.location_underline {
  border-bottom: 2px solid #fa00ff;
}

.product_underline {
  border-bottom: 2px solid #00f0ff;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #f2f2f2;
  border: 2px solid #007079;
  border-radius: 3px;
}

.checkbox input:checked ~ .checkmark {
  background-color: #007079;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 5px;
  top: 0px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
