.NodeComponent {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }


    p{
        padding-left: 10px;
    }

    .h-line {
        width: 30px;
        border-top: 1px dashed black;
    }
}