.squarecheckbox {
  display: flex;
  position: relative;
  background-color: transparent;
  padding: 5px 10px 11px 10px;
  margin: 0px 5px;
  cursor: pointer;
}

.squarecheckbox input {
  position: absolute;
  display: none;
}

.scheckmark {
  position: absolute;
  top: 0.4px;
  left: 0;
  height: 11px;
  width: 11px;
  background-color: transparent;
  border: 2px solid #007079;
  border-radius: 3px;
}

.squarecheckbox input:checked ~ .scheckmark {
  background-color: #007079;
}

.scheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.squarecheckbox input:checked ~ .scheckmark:after {
  display: block;
}

.squarecheckbox .scheckmark:after {
  left: 4px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
