.react-flow__edge-RelationEdgeType {
    &.selected {
        .has-location-function {
            visibility: hidden;

            &--dashed {
                stroke: black !important;
                opacity: 1.0 !important;
            }
        }

        .has-location-product {
            visibility: hidden;

            &--dashed {
                stroke: black !important;
                opacity: 1.0 !important;
            }
        }


        .fulfilled-by-function {
            visibility: hidden;

            &--dashed {
                stroke: black !important;
                opacity: 1.0 !important;
            }
        }

        .fulfilled-by-product {
            visibility: hidden;

            &--dashed {
                stroke: black !important;
                opacity: 1.0 !important;
            }
        }
    }
}

.has-location-function {
    stroke-dasharray: 6.5 !important;
    stroke: #FA00FF !important;
    fill: none !important;

    &--dashed {
        stroke: #FEF445 !important;
        opacity: 0.5 !important;
        fill: none !important;
    }
}

.has-location-product {
    stroke-dasharray: 6.5 !important;
    stroke: #FA00FF !important;
    fill: none !important;

    &--dashed {
        stroke: #00F0FF !important;
        opacity: 0.5 !important;
        fill: none !important;
    }
}

.fulfilled-by-function {
    stroke-dasharray: 6.5 !important;
    stroke: #00F0FF !important;
    fill: none !important;

    &--dashed {
        stroke: #FEF445 !important;
        opacity: 0.5 !important;
        fill: none !important;
    }
}

.fulfilled-by-product {
    stroke-dasharray: 6.5 !important;
    stroke: #00F0FF !important;
    fill: none !important;

    &--dashed {
        stroke: #FEF445 !important;
        opacity: 0.5 !important;
        fill: none !important;
    }
}