.explorer_container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 10px;

  .header {
    flex: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 0px;
    font-weight: bold;
    position: relative;

    .explorerIcon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    .expand_icon {
      width: 22px;
      height: 22px;
      position: absolute;
      bottom: 22px;
      right: -2px;
    }
  }

  .scrollable_container {
    flex: 4;
  }
}
