.account_container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1103;
  font-family: roboto;
  width: auto;

  .account_clickable {
    max-width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 44px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 12px;
    background-color: #007079;
    color: #ffffff;

    .project_name {
      font-size: 16px;
      text-transform: uppercase;
      width: max-content;
    }

    .project_name_opened {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .is_opened {
    background-color: #ffffff;
    color: #007079;
    border-color: #007079;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
  }

  .open_project {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
  }

  .account_details {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #007079;
    border-color: #007079;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    width: 330px;
    height: 240px;
    font-size: 14px;
    padding: 10px 0px 8px 10px;
    margin-left: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .save_container,
  .user_container {
    flex: 1;
    padding-bottom: 14px;
  }

  p {
    margin: 6px 0px;
  }
}
