.open_project_button_wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;

  .open_project_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 34px;
    background: #f2f2f2;
    border: 1px solid #007079;
    border-radius: 2px;
    color: #000000;

    .open_project_button_text {
      font-size: 14px;
      text-align: center;
      font-weight: normal;
      white-space: nowrap;
    }
  }

  .open_project_button:hover {
    background-color: #007079;
    color: #ffffff;
    cursor: pointer;
  }
}
