.project_list {
  .recent_projects_text {
    font-weight: bold;
    font-size: 16px;
    color: #272738;
  }

  .project_list_labels {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    margin: -10px 0px 0px 0px;
    border-bottom: 1px solid #272738;
    height: auto;

    p {
      margin: 0px;
    }

    .project_name {
      width: 45%;
    }

    .project_owner {
      width: 35%;
      margin-left: 10px;
    }

    .last_edited {
      width: 15%;
      margin-left: 10px;
    }
  }

  .selected_project {
    border: 1px solid #272738;
  }
}
