.home_container {
  display: flex;
  height: 100%;
  flex-direction: row;
  background: #fff;

  .explorer_view {
    flex: 1;
    border-right: 1px solid black;
    background-color: #f2f2f2;
  }

  .middle_content {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: white;

    .workspace {
      flex: 2;
      border-bottom: 1px solid black;
      background: #fff;
    }

    .inspector {
      flex: 1;
    }
  }

  .library {
    flex: 1;
    border-left: 2px solid black;
    background: #f2f2f2;
  }
}
