.terminalSearchbarWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;

  .terminalsearchbar_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 20px;
    font-family: Roboto;
    background-color: white;
    position: relative;

    .terminalsearchbar {
      display: flex;
      flex: 1;
      max-height: 16px;
      align-items: center;
      flex-direction: row;
      border: 1px solid #cbcbcb;
      border-radius: 2px;
      padding: 2px 0px 2px 2px;

      .icon {
        margin-left: auto;
        width: 13px;
        height: 13px;
        opacity: 1;
      }

      input:focus,
      textarea:focus,
      select:focus {
        outline: none;
      }

      input[type="text"] {
        min-width: 220px;
        height: 13px;
        font-size: 13px;
        border: 0px;
        background-color: inherit;
      }

      input[type="text"]::placeholder {
        color: #898787;
        font-size: 13px;
        font-style: italic;
        opacity: 0.5;
      }
    }
    .terminalsearchbarlist {
      display: flex;
      flex-direction: column;
      border-radius: 2px;
      background-color: white;
      font-size: 13px;
      position: absolute;
      top: 21px;
      left: 0px;
      z-index: 1;
      width: 100%;

      .terminallistitem {
        max-height: 16px;
        padding: 2px 0px 2px 4px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #cbcbcb;
        background-color: white;
      }

      .terminallistitem:hover {
        background-color: #bde6fd;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .helpIcon {
    height: 12px;
    padding: 3px 10px 0px 10px;
    margin-left: auto;
    opacity: 0.4;
  }

  .helpIcon:hover {
    opacity: 1;
  }
}
