.dndflow {
  height: 100%;
  display: flex;
  z-index: 1 !important;
}

.dndflow .reactflow-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  z-index: 1 !important;
}

.react-flow__nodes {
  z-index: 5 !important;
}

.react-flow__node {
  z-index: 5 !important;
}

.react-flow__edges {
  z-index: 2 !important;
}

.react-flow__pane {
  height: 97% !important;
}

.react-flow__handle.connectable {
  cursor: crosshair;
}

.react-flow__handle {
  position: absolute;
  width: 19px !important;
  height: 19px !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

#react-flow__arrowclosed {
  :first-child {
    fill: var(--arrow-color);
    stroke: var(--arrow-color);
  }
}

#react-flow__arrow {
  :first-child {
    fill: var(--arrow-color);
    stroke: var(--arrow-color);
    transform: rotate(180deg);
  }
}

.path-transportEdge,
.path-partEdge,
.path-relationEdge,
.path-blockEdge,
.path-blockPartEdge {
  stroke-width: 2px !important;
  fill: none;
  pointer-events: all;
  cursor: grab;
}

.react-flow__edge-PartEdgeType,
.react-flow__edge-RelationEdgeType,
.react-flow__edge-TransportEdgeType,
.react-flow__edge-BlockEdgeType,
.react-flow__edge-BlockPartEdgeType {
  &:hover {
    .path-relationEdge,
    .path-transportEdge,
    .path-partEdge,
    .path-blockEdge,
    .path-blockPartEdge {
      stroke: #d9d9d9 !important;
    }
  }

  &.selected {
    .path-relationEdge,
    .path-transportEdge,
    .path-partEdge,
    .path-blockEdge,
    .path-blockPartEdge {
      stroke: black !important;
    }
  }
}

.react-flow__node-AspectLocation,
.react-flow__node-Location {
  &.selected > div {
    border-color: #a300a7 !important;
  }
}

.react-flow__node-AspectFunction,
.react-flow__node-Function {
  &.selected > div {
    border-color: #fbc913 !important;
  }
}

.react-flow__node-AspectProduct,
.react-flow__node-Product {
  &.selected > div {
    border-color: #069098 !important;
  }
}
