// TREEVIEW
.react-flow__node-AspectLocation,
.react-flow__node-AspectFunction,
.react-flow__node-AspectProduct,
.react-flow__node-Function,
.react-flow__node-Product,
.react-flow__node-Location {
  border-radius: 10px;
  width: 106px;
  height: 69px;
  font-size: 10px;
  color: #222;
  text-align: center;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

.react-flow__node-AspectLocation,
.react-flow__node-AspectFunction,
.react-flow__node-AspectProduct {
  border: none;
  width: 90px;
  height: 52px;
  box-shadow: none;
}

.react-flow__node-AspectLocation {
  &.selected {
    border: 3px solid #a300a7 !important;
  }
}

.react-flow__node-AspectFunction {
  &.selected {
    border: 3px solid #fbc913 !important;
  }
}

.react-flow__node-AspectProduct {
  &.selected {
    border: 3px solid #00f0ff !important;
  }
}

.react-flow__node-Function {
  background: #fef445;
  &.selected {
    border: 3px solid #fbc913 !important;
  }
}

.react-flow__node-Product {
  background: #47dde6;
  &.selected {
    border: 3px solid #00f0ff !important;
  }
}

.react-flow__node-Location {
  background: #fa00ff;
  &.selected {
    border: 3px solid #a300a7 !important;
  }
}

// BLOCKVIEW
.react-flow__node-BlockFunctionNode {
  border-radius: 10px;
  font-size: 11px;
  color: #222;
  text-align: center;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);

  &.selected {
    border: 3px solid #ffde7a !important;
    box-shadow: none;
  }
  &:hover {
    border: 3px solid #ffde7a !important;
    box-shadow: none;
  }
}

.react-flow__node-BlockLocationNode {
  border-radius: 10px;
  width: 115px;
  height: 70px;
  font-size: 11px;
  color: #222;
  text-align: center !important;
  background-color: #fa00ff;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);

  &.selected {
    border: 3px solid #f083f1 !important;
    box-shadow: none;
  }
  &:hover {
    border: 3px solid #f083f1 !important;
    box-shadow: none;
  }
}

.react-flow__node-BlockProductNode {
  border-radius: 10px;
  width: 115px;
  height: 70px;
  font-size: 11px;
  color: #222;
  text-align: center !important;
  background-color: #00f0ff;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);

  &.selected {
    border: 3px solid #47dde6 !important;
    box-shadow: none;
  }
  &:hover {
    border: 3px solid #47dde6 !important;
    box-shadow: none;
  }
}

.react-flow__node-BlockParentNode {
  border-radius: 10px;
  width: 950px;
  height: 600px;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1 !important;
}

.react-flow__node-FunctionBlock {
  z-index: 1 !important;
}

// COMMON
.react-flow__handle {
  opacity: 1;
  position: absolute;
  width: 14px !important;
  height: 15px !important;
  border-radius: 0% !important;
  border: none !important;
  background-color: transparent !important;
}

.dndflow {
  height: 100%;
  display: flex;
}

.dndflow .dndnode {
  height: 25px;
  width: 150px;
  padding: 4px;
  border: 1px solid #1a192b;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .reactflow-wrapper {
  flex: 1;
  height: 100%;
}

.react-flow__node {
  opacity: 1 !important;
  padding: 0px !important;
}

.react-flow__nodes {
  z-index: 3;
}

.react-flow__edge {
  cursor: grab;
}

.react-flow__edges {
  z-index: 2;
}

.react-flow__handle-left {
  left: -15px;
}

.react-flow__handle.connectable {
  cursor: crosshair;
}

.react-flow__controls {
  position: absolute;
  z-index: 5;
  bottom: 15px !important;
  left: 20px !important;
}

.react-flow__minimap {
  background-color: #f8f8f8;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  max-height: 78px;
  max-width: 161px;
}
