.node-types {
    .node-type {
        display: block;
        width: 200px;
        height: 30px;
        background-color: coral;
        border: 1px solid black;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
}