.node-types {
    position: fixed;
    left: 10px;
    top: 80px;
    z-index: 50000000;
    .node-type {
        display: block;
        width: 200px;
        height: 30px;
        background-color: coral;
        border: 1px solid black;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
}